/* barlow-semi-condensed-500 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/barlow-semi-condensed-v16-latin-500.woff2') format('woff2'); 
}
/* barlow-semi-condensed-600 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/barlow-semi-condensed-v16-latin-600.woff2') format('woff2'); 
}

:root {
    --black: #121212;
    --dark-blue: #19202D;
    --white: #FFFFFF;

    --grey-100: #E7EAEE;
    --grey-200: #CFCFCF;
    --grey-300: #A3AAB4;
    --grey-400: #676D7E;
    --grey-500: #48556A;

    --purple-50: #EDE4FF;
    --purple-300: #A775F1;
    --purple-500: #733FC8;

    --spacing-1: 0.25rem;   /* 4px */
    --spacing-2: 0.5rem;    /* 8px */
    --spacing-3: 1.0rem;    /* 16px */
    --spacing-4: 1.5rem;    /* 24px */
    --spacing-5: 2.0rem;    /* 32px */
    --spacing-6: 2.5rem;    /* 40px */

    --corner-radius-card: 0.5rem;
    --corner-radius-image: 50%;

    --font-family: 'Barlow Semi Condensed', sans-serif;

    --font-weight-medium: 500;
    --font-weight-bold: 600;

    /* Font sizes according to Figma */
    --font-size-3: 1.25rem;     /* 20px */
    --font-size-2: 0.8125rem;    /* 13px */
    --font-size-1: 0.6875rem;   /* 11px */

    --line-height-3: 140%;
    --line-height-2: 120%;
    --line-height-1: 110%;
}

*, *::before, *::after { padding:0; margin: 0; box-sizing: border-box; }

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

body {
    height: 100vh;
    background-color: #F6F5F6;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: clamp(4.5625rem, -5.241rem + 21.726vw, 14.313rem) clamp(2.1875rem, -3.607rem + 15.327vw, 10.188rem);
}

.grid-container {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-5);
}

.card {
    border-radius: var(--corner-radius-card);
    padding: var(--spacing-5);

    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    box-shadow: 40px 60px 50px -47px #48556A3D;
}
.card.purple { 
    position: relative; 
    z-index: 0;
    background-color: var(--purple-500); 
    --img-border-color: var(--purple-300);
    --name-color: var(--white);
    --occupation-color: var(--purple-50);
    --top-text-color: var(--white);
    --bottom-text-color: var(--purple-50);
}
.card.grey { 
    background-color: var(--grey-500); 
    --img-border-color: transparent;
    --name-color: var(--white);
    --occupation-color: var(--grey-300);
    --top-text-color: var(--white);
    --bottom-text-color: var(--grey-100);
}
.card.white {
    background-color: var(--white); 
    --img-border-color: transparent;
    --name-color: var(--grey-500);
    --occupation-color: var(--grey-400);
    --top-text-color: var(--grey-500);
    --bottom-text-color: var(--grey-400);
}
.card.blue { 
    background-color: var(--dark-blue); 
    --img-border-color: var(--purple-500);
    --name-color: var(--white);
    --occupation-color: var(--grey-200);
    --top-text-color: var(--grey-200);
    --bottom-text-color: var(--grey-100);
}
.quotation-pattern {
    position: absolute;
    right: 3.75rem;
    top: 0;
}
.card-profile {
    display: inline-flex;
    gap: 1.0625rem; /* 17px */
    align-items: center;
    width: fit-content;
}
.purple :not(.quotation-pattern) {
    z-index: 2;
}

.card-profile__image {
    border-radius: var(--corner-radius-image);
    border: solid var(--img-border-color) 0.125rem;
}
.card-profile__text-blob {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.card-profile__text-blob--name {
    color: var(--name-color);
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-medium);
    line-height: 100%;
}
.card-profile__text-blob--occupation {
    color: var(--occupation-color);
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-1);
}
.card__top-text {
    color: var(--top-text-color);
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-2);
}
.card__bottom-text {
    color:var(--bottom-text-color);
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-3);
}
.screen-reader-title:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

footer { 
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 0.6875rem;
    padding: 0.5rem 0;
    background: transparent;
    pointer-events: none;
}
    
footer a { 
    pointer-events: auto;
    color: hsl(228, 45%, 44%); 
}


@media screen and (min-width: 48rem) {
    .quotation-pattern {
        z-index: 2;
        background-image: url("../assets/images/bg-pattern-quotation.svg");
        height: 104px;
        width: 102px;
    }
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .card:nth-child(1) {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    .card:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .card:nth-child(3) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .card:nth-child(4) {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }
    .card:nth-child(5) {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
    }
}

/* desktop format */
@media screen and (min-width: 70rem) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .card:nth-child(1) {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    .card:nth-child(2) {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    .card:nth-child(3) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .card:nth-child(4) {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }
    .card:nth-child(5) {
        grid-column: 4 / 5;
        grid-row: 1 / 3;
    }
    .footer {
        position: absolute;
    }
}