/* barlow-semi-condensed-500 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/barlow-semi-condensed-v16-latin-500.woff2') format('woff2'); 
}
/* barlow-semi-condensed-600 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/barlow-semi-condensed-v16-latin-600.woff2') format('woff2'); 
}

:root {
    --black: #121212;
    --dark-blue: #19202D;
    --white: #FFFFFF;

    --grey-100: #E7EAEE;
    --grey-200: #CFCFCF;
    --grey-300: #A3AAB4;
    --grey-400: #676D7E;
    --grey-500: #48556A;

    --purple-50: #EDE4FF;
    --purple-300: #A775F1;
    --purple-500: #733FC8;

    --spacing-1: 0.25rem;   /* 4px */
    --spacing-2: 0.5rem;    /* 8px */
    --spacing-3: 1.0rem;    /* 16px */
    --spacing-4: 1.5rem;    /* 24px */
    --spacing-5: 2.0rem;    /* 32px */
    --spacing-6: 2.5rem;    /* 40px */

    --corner-radius-card: 0.5rem;
    --corner-radius-image: 50%;

    --font-family: 'Barlow Semi Condensed', sans-serif;

    --font-weight-medium: 500;
    --font-weight-bold: 600;

    --font-size-3: 1.25rem;     /* 20px */
    --font-size-2: 0.8125rem;    /* 13px */
    --font-size-1: 0.6875rem;   /* 11px */

    --line-height-3: 140%;
    --line-height-2: 120%;
    --line-height-1: 110%;
}

*, *::before, *::after { padding:0; margin: 0; box-sizing: border-box; }

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

body {
    height: 100vh;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #F6F5F6;
    padding: 4.5625rem 2.1875rem; /* placeholder */
}

.grid-container {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-5);
}

.card {
    border-radius: var(--corner-radius-card);
    padding: var(--spacing-5);

    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);
    font-family: var(--font-family);
}
.card:nth-child(1) { background-color: var(--purple-500); }
.card:nth-child(2) { background-color: var(--grey-500); }
.card:nth-child(3) { background-color: var(--white); }
.card:nth-child(4) { background-color: var(--dark-blue); }
.card:nth-child(5) { background-color: var(--white); }

.card-profile {
    display: inline-flex;
    gap: 1.0625rem; /* 17px */
    align-items: center;
    width: fit-content;
}
.card-profile__image {
    border-radius: var(--corner-radius-image);
    border: solid transparent 0.125rem;
}
.card:nth-child(1) .card-profile__image { border-color: var(--purple-300); }
.card:nth-child(2) .card-profile__image { border-color: transparent; }
.card:nth-child(3) .card-profile__image { border-color: transparent; }
.card:nth-child(4) .card-profile__image { border-color: var(--purple-500); }
.card:nth-child(5) .card-profile__image { border-color: transparent; }

.card-profile__text-blob {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.card-profile__text-blob--name {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-medium);
    line-height: 100%;
}

.card-profile__text-blob--occupation {
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-1);
}

.card__top-text {
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-2);
}

.card__bottom-text {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-3);
}
/* .card--purple {   NEED TO ADD THIS, SWAP TO VARIABLES
  background-color: var(--purple-500);
  --accent-color: var(--purple-300);
  --name-color: var(--white);
  --occupation-color: var(--purple-50);
  --top-text-color: var(--white);
  --bottom-text-color: var(--purple-50);
} 
  
.card-profile__image { border-color: var(--accent-color); }
.card-profile__text-blob--name { color: var(--name-color); }
.card-profile__text-blob--occupation { color: var(--occupation-color); }
.card__top-text { color: var(--top-text-color); }
.card__bottom-text { color: var(--bottom-text-color); }

*/
.card:nth-child(1) .card-profile__text-blob--name,
.card:nth-child(1) .card__top-text,
.card:nth-child(2) .card-profile__text-blob--name,
.card:nth-child(2) .card__top-text,
.card:nth-child(4) .card-profile__text-blob--name,
.card:nth-child(4) .card__top-text {
    color: var(--white);
}

.card:nth-child(1) .card-profile__text-blob--occupation,
.card:nth-child(1) .card__bottom-text {
    color: var(--purple-50);
}

.card:nth-child(2) .card-profile__text-blob--occupation { color: var(--grey-300); }
.card:nth-child(2) .card__bottom-text { color: var(--grey-100);}

.card:nth-child(3) .card-profile__text-blob--name,
.card:nth-child(3) .card__top-text { color: var(--grey-500); }

.card:nth-child(3) .card-profile__text-blob--occupation,
.card:nth-child(3) .card__bottom-text { color: var(--grey-400); }

.card:nth-child(4) .card-profile__text-blob--occupation { color: var(--grey-200); }
.card:nth-child(4) .card__top-text { color: var(--grey-200); }
.card:nth-child(4) .card__bottom-text { color: var(--grey-100); }

.card:nth-child(5) .card-profile__text-blob--name,
.card:nth-child(5) .card__top-text { color: var(--grey-500); }
.card:nth-child(5) .card-profile__text-blob--occupation { color: var(--grey-300); }
.card:nth-child(5) .card__bottom-text { color: var(--grey-500); }

.screen-reader-title:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}